<!--
  The home page template displays the number of inches
-->

<template name="home">
  {{ #if weather }}
    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Yesterday
          </div>
          <div class="panel-body">
            {{ #with yesterday }}
              <div> precip: {{ precip }} </div>
              <div> rain: {{ rain }} </div>
              <div> snow: {{ snow }} </div>
              <div> snowdepth: {{ snowdepth }} </div>
              <div> snowfall: {{ snowfall }} </div>
            {{ /with }}
          </div>
        </div>
      </div>
      {{ #with today }}
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Today: {{ formatDate local_epoch }}
            </div>
            <div class="panel-body">
              <div> <i class="wi wi-{{ toWeatherIcon icon }}"></i> </div>
              <div> Past Hour: {{ precip_1hr_in }} </div>
              <div> All Day: {{ precip_today_in }} </div>
              <div> Conditions: {{ conditions }} </div>
            </div>
          </div>
        </div>
      {{ /with }}
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Future
          </div>
          <div class="panel-body">
            {{ #with hour }}

            {{ /with }}
          </div>
        </div>
      </div>
    </div>
  {{ else }}
    {{ > loading }}
  {{ /if }}
</template>
