<!--
  The home page template displays the number of inches
-->

<template name="home">
  {{ location }}
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card">
          <div class="card-block">
              <h4 class="card-title">
                Past Day
              </h4>
              <p class="card-text">
                How Many Inches? {{ inches }}
              </p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card">
          <div class="card-block">
              <h4 class="card-title">
                Past Hour
              </h4>
              <p class="card-text">
                How Many Inches? {{ inches }}
              </p>
          </div>
      </div>
    </div>
  </div>
</template>
